*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.green_bg{
    height: 100px;
    background-color: #009688;
}
.boh{
    width: 700px;
    padding-top: 100px;
    height: 500px;
    background-color: blue;
}
body{
    background-color: #d9dbd3;
}
.avatar{
    height: 50px;
}
.avatar img{
    width: 50px;
}
.menu_gray{
    background-color: #eaeaea;
}
.font_size_small{
    font-size: 12px;
}

.blu_notify{
    margin-left: -12px;
    height: 70px;
    background-color: #8edafd;
}
.notify_slashed{
    padding: 15px 15px;
    border-radius: 50%;
    background-color: white;
}
.fa-bell-slash {
    font-size: 25px;
    color: #8cd8fc;
}
.col-12.blu_notify{
width: 100%;
}

.wallpaper_chat{
    background-image: url(../img/whatsapp_background.png);
    height: 600px;
}