*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* STRUTTURA INIZIALE */
body{
    background-color: #d7dbd7;
}
#green_bg{
    background-color: #009688;
    height: 100px;
}
.white_container{
    background-color: #eaeaea;
}

.height_container{
    height: 600px;
}

/* CLASSI GENERICHE */

.avatar img{
    width: 50px;
    border-radius: 50%;

}
.icons_fontawesome_chat_up{
    color: #b1b1b1;
}
.font_last_our{
    font-size: 12px;
}

/* PARTE DEI CONTATTI  - SINISTRA */


/* SOPRA */
.left_contacts{
    width: 40%;
    height: 600px;
    /* DEBUG */
    /* background-color: blue; */
}
.bordo_left_contacts{
    border-right: 2px solid #dadada;
}
.row:nth-child(0n-1){
    border-right:none;
    
}
.icons_me{
    font-size: 20px;
}
/* SOTTO */
.notify_blu{
    background-color: #8edafd;
    border-right: none;
}
.cerchio_bianco{
    width: 50px;
    height: 50px;
}
.cerchio_bianco .fa-solid.fa-bell-slash{
    color: #8edafd;
}

/* CONTATTI */
.lista_contatti{
    background-color: #fff;
}
.lista_contatti li:hover{
    background-color: #eaeaea;
}

/* PARTE DESTRA SOTTO - CHAT EFFETTIVA */
.altezza_chat{
    height: 600px;
}
.whatsapp_background{
    background-image: url(../img/whatsapp_background.png);
    background-size: 100%;
    overflow-y: scroll;
    flex-grow: 1;
}
.barra_text_message{
    background-color: #f3eeea;
}
.smile,
.mic{
    width: 10%;
    flex-basis: 10%;
}

/* MESSAGGI INVIATI E RICEVUTI */

.msg_spedito {
    border-radius: 10px;
    background-color: #d5f9ba;
    padding: 8px;
    position: relative;
}

.msg_ricevuto {
    border-radius: 10px;
    background-color: white;
    padding: 8px;
    position: relative;
}

.msg_time {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.send_message {
    display: flex;
    width: 100%;
    padding: 8px;
}

.send_message .left {
    width: 10%;
    justify-content: center;
}

.send_message .middle {
    width: 80%;
    border: none;
    border-radius: 4px;
    padding-left: 15px;
}

.send_message .middle::placeholder {
    font-size: 13px;
}

.send_message .right {
    width: 10%;
    justify-content: center;
}
/* MILESTONE 5 */
.dropdown { 
    position: absolute;
right: 0px;
bottom: 10px;
} 
/* .dropdown{
    opacity: 0;
}
.dropdown:hover { 
    opacity: 1;
}  */

.btn:focus {
    outline: none;
    box-shadow: none;
  }